<a href="https://colab.research.google.com/github/ShaanAu/NTU---ML/blob/main/wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("wine.csv")
df.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids', 'Nonflavanoidphenols','Proanthocyanins',
'Color intensity', 'Hue','OD280/OD315 of diluted wines','Proline']
df

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoidphenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [5]:
df = df[df['Class label'] != 1]
df.head(10)

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoidphenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
59,2,12.37,0.94,1.36,10.6,88,1.98,0.57,0.28,0.42,1.95,1.05,1.82,520
60,2,12.33,1.10,2.28,16.0,101,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680
61,2,12.64,1.36,2.02,16.8,100,2.02,1.41,0.53,0.62,5.75,0.98,1.59,450
62,2,13.67,1.25,1.92,18.0,94,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630
63,2,12.37,1.13,2.16,19.0,87,3.50,3.10,0.19,1.87,4.45,1.22,2.87,420
64,2,12.17,1.45,2.53,19.0,104,1.89,1.75,0.45,1.03,2.95,1.45,2.23,355
65,2,12.37,1.21,2.56,18.1,98,2.42,2.65,0.37,2.08,4.60,1.19,2.30,678
66,2,13.11,1.01,1.70,15.0,78,2.98,3.18,0.26,2.28,5.30,1.12,3.18,502
67,2,12.37,1.17,1.92,19.6,78,2.11,2.00,0.27,1.04,4.68,1.12,3.48,510
68,2,13.34,0.94,2.36,17.0,110,2.53,1.30,0.55,0.42,3.17,1.02,1.93,750

In [6]:
y = df['Class label'].values
y
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1])

In [7]:
X = df[['Alcohol', 'Hue']].values
X

array([[12.37 ,  1.05 ],
       [12.33 ,  1.25 ],
       [12.64 ,  0.98 ],
       [13.67 ,  1.23 ],
       [12.37 ,  1.22 ],
       [12.17 ,  1.45 ],
       [12.37 ,  1.19 ],
       [13.11 ,  1.12 ],
       [12.37 ,  1.12 ],
       [13.34 ,  1.02 ],
       [12.21 ,  1.28 ],
       [12.29 ,  0.906],
       [13.86 ,  1.36 ],
       [13.49 ,  0.98 ],
       [12.99 ,  1.31 ],
       [11.96 ,  0.99 ],
       [11.66 ,  1.23 ],
       [13.03 ,  1.19 ],
       [11.84 ,  0.96 ],
       [12.33 ,  1.06 ],
       [12.7  ,  1.19 ],
       [12.   ,  1.38 ],
       [12.72 ,  1.16 ],
       [12.08 ,  1.31 ],
       [13.05 ,  0.84 ],
       [11.84 ,  0.79 ],
       [12.67 ,  1.23 ],
       [12.16 ,  1.33 ],
       [11.65 ,  1.36 ],
       [11.64 ,  1.   ],
       [12.08 ,  1.07 ],
       [12.08 ,  1.08 ],
       [12.   ,  1.05 ],
       [12.69 ,  0.96 ],
       [12.29 ,  1.15 ],
       [11.62 ,  1.16 ],
       [12.47 ,  1.16 ],
       [11.81 ,  0.95 ],
       [12.29 ,  1.23 ],
       [12.37 ,  1.04 ],
       [12.29 ,  1.42 ],
       [12.08 ,  1.27 ],
       [12.6  ,  1.04 ],
       [12.34 ,  0.8  ],
       [11.82 ,  0.94 ],
       [12.51 ,  1.04 ],
       [12.42 ,  0.86 ],
       [12.25 ,  1.   ],
       [12.72 ,  0.88 ],
       [12.22 ,  0.86 ],
       [11.61 ,  0.96 ],
       [11.46 ,  0.75 ],
       [12.52 ,  0.9  ],
       [11.76 ,  1.23 ],
       [11.41 ,  1.1  ],
       [12.08 ,  0.93 ],
       [11.03 ,  1.71 ],
       [11.82 ,  0.95 ],
       [12.42 ,  1.06 ],
       [12.77 ,  0.7  ],
       [12.   ,  0.93 ],
       [11.45 ,  0.8  ],
       [11.56 ,  0.93 ],
       [12.42 ,  0.92 ],
       [13.05 ,  0.73 ],
       [11.87 ,  0.75 ],
       [12.07 ,  0.86 ],
       [12.43 ,  0.69 ],
       [11.79 ,  0.97 ],
       [12.37 ,  0.89 ],
       [12.04 ,  0.79 ],
       [12.86 ,  0.76 ],
       [12.88 ,  0.74 ],
       [12.81 ,  0.66 ],
       [12.7  ,  0.78 ],
       [12.51 ,  0.75 ],
       [12.6  ,  0.73 ],
       [12.25 ,  0.75 ],
       [12.53 ,  0.82 ],
       [13.49 ,  0.81 ],
       [12.84 ,  0.89 ],
       [12.93 ,  0.77 ],
       [13.36 ,  0.7  ],
       [13.52 ,  0.89 ],
       [13.62 ,  0.91 ],
       [12.25 ,  0.65 ],
       [13.16 ,  0.6  ],
       [13.88 ,  0.58 ],
       [12.87 ,  0.54 ],
       [13.32 ,  0.55 ],
       [13.08 ,  0.57 ],
       [13.5  ,  0.59 ],
       [12.79 ,  0.48 ],
       [13.11 ,  0.61 ],
       [13.23 ,  0.56 ],
       [12.58 ,  0.58 ],
       [13.17 ,  0.6  ],
       [13.84 ,  0.57 ],
       [12.45 ,  0.67 ],
       [14.34 ,  0.57 ],
       [13.48 ,  0.57 ],
       [12.36 ,  0.56 ],
       [13.69 ,  0.96 ],
       [12.85 ,  0.87 ],
       [12.96 ,  0.68 ],
       [13.78 ,  0.7  ],
       [13.73 ,  0.78 ],
       [13.45 ,  0.85 ],
       [12.82 ,  0.72 ],
       [13.58 ,  0.74 ],
       [13.4  ,  0.67 ],
       [12.2  ,  0.66 ],
       [12.77 ,  0.57 ],
       [14.16 ,  0.62 ],
       [13.71 ,  0.64 ],
       [13.4  ,  0.7  ],
       [13.27 ,  0.59 ],
       [13.17 ,  0.6  ],
       [14.13 ,  0.61 ]])

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
random_state=1)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.experimental import enable_halving_search_cv  # noqa
from sklearn.model_selection import HalvingGridSearchCV

forest = RandomForestClassifier(criterion='entropy',n_estimators=500,random_state=1,n_jobs=2)
param_grid = {'max_depth': [3, 5, 10],
               'min_samples_split': [2, 5, 10]}
base_estimator = RandomForestClassifier(criterion='entropy',n_estimators=500,random_state=1,n_jobs=2)
sh = HalvingGridSearchCV(base_estimator, param_grid, cv=5,
                          factor=2, resource='n_estimators',
                          max_resources=30).fit(X_train, y_train)
sh.best_estimator_

RandomForestClassifier(criterion='entropy', max_depth=10, min_samples_split=10,
                       n_estimators=24, n_jobs=2, random_state=1)

In [18]:
final_estimator = RandomForestClassifier(criterion='entropy', max_depth=10, min_samples_split=10,
                       n_estimators=24, n_jobs=2, random_state=1)

final_estimator = final_estimator.fit(X_train, y_train)

from sklearn.metrics import accuracy_score
y_train_pred = final_estimator.predict(X_train)
y_test_pred = final_estimator.predict(X_test)
forest_train = accuracy_score(y_train, y_train_pred)
forest_test = accuracy_score(y_test, y_test_pred)
print('Random forest train/test accuracy %.3f/%.3f' % (forest_train,forest_test))

Random forest train/test accuracy 0.964/0.861

In [19]:
from mlxtend.plotting import plot_decision_regions
from itertools import product
import matplotlib.pyplot as plt

In [24]:
from sklearn import model_selection
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

seed = 8
kfold = model_selection.KFold(n_splits = 3,
                       random_state = seed, shuffle=True)
  
# initialize the base classifier
base_cls = DecisionTreeClassifier()
  
# no. of base classifier
num_trees = 500
  
# bagging classifier
model = BaggingClassifier(base_estimator = base_cls,
                          n_estimators = num_trees,
                          random_state = seed)
  
results = model_selection.cross_val_score(model, X_train, y_train, cv = kfold)
print("accuracy :")
print(results.mean())

accuracy :
0.9276895943562611

In [26]:
from sklearn.ensemble import AdaBoostClassifier

seed = 8
kfold = model_selection.KFold(n_splits = 3,
                       random_state = seed, shuffle=True)
  
# initialize the base classifier
base_cls = DecisionTreeClassifier()
  
# no. of base classifier
num_trees = 500
  
# bagging classifier
model = AdaBoostClassifier(base_estimator = base_cls,
                          n_estimators = num_trees,
                          random_state = seed)
  
results = model_selection.cross_val_score(model, X_train, y_train, cv = kfold)
print("accuracy :")
print(results.mean())

accuracy :
0.9038800705467372